$back-ground:#4C4C6D;
$text-color:#146C94;
.main-nav{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
.welcome-text{
  color: $text-color;
  font-weight: bold;
}
.username{
  color:$text-color
}
.dropdown-toggle::after {
  font-size: x-large;
}
}
