.main-cont{
  background-image: url('../../../assets/background.avif');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  .sub-cont1{
    background-color: rgba(47, 79, 79, 0.438);
    min-width: 14rem;
    .title{
      color: white;
    }
    .form-label{
      color: white;
    }
  }
  }
