<div class="container-fluid main-cont d-flex justify-content-center align-items-center">

  <div class="w-25 row sub-cont1  h-50  p-sm-3 p-2 rounded">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
      <h3 class="title text-center mb-3">Login Here</h3>
    <div class="form-group col-12 d-flex flex-column mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Enter email" aria-describedby="helpId" formControlName="email">
      <div *ngIf="data['email'].invalid &&(data['email'].touched||data['email'].dirty)" class="alert text-danger alert-danger">
        <div *ngIf="data['email'].errors?.['required']">
          Email is a mandatory field.
        </div>
        <div *ngIf="data['email'].errors?.['email']">
          Enter valid email.
        </div>
      </div>
    </div>
    <div class="form-group col-12 d-flex flex-column mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Enter password" aria-describedby="helpId" formControlName="password">
      <div *ngIf="data['password'].invalid &&(data['password'].touched||data['password'].dirty)" class="alert text-danger alert-danger">
        <div *ngIf="data['password'].errors?.['required']">
          Password is a mandatory field.
        </div>
        <div *ngIf="data['password'].errors?.['pattern']">
          Enter valid password. Password should be 8 character long, have minimum 1 uppercase character, minimum 1 digit and minimum 1 special character.
        </div>
      </div>
    </div>
    <button class="btn btn-success d-block my-3 mx-auto" [disabled]="!loginForm.valid">Login</button>
    <p class="text-center text-white">Haven't registered yet? <a href="/auth/signup" class="text-white">Register Here</a></p>
  </form>
  </div>
</div>

